<button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-secondary" (click)="gotTo('accueil/espace')"></button>


<ng-template #loggedOut>
  Please login.
</ng-template>
<div class="alert alert-success shdwdiv"  style="height:340px;width: 700px;margin-left: 450px" >

    <div class="container" *ngIf="currentUser; else loggedOut">

      <header class="jumbotron">
        <h2 style="text-align: center">
          <strong> Bienvenue dans votre profil : </strong>
        </h2>
      </header>
      <p style="margin-top: 30px">
        <label style="color: brown" >Vote nom d'utilisateur :</label>
        <label>{{ currentUser.username }}</label>

      </p>
      <p>
        <label style="color: brown">Votre adresse email :</label>
        <label>{{ currentUser.email }}</label>
      </p>

      <label style="color: brown">Roles:</label>
      <ul>
        <li *ngFor="let role of roles">
          <label>{{ role }}</label>
        </li>
      </ul>
    </div>

</div>