<div class="layout-menu-container" (click)="onMenuClick($event)">
  <div class="menu-scroll-content">
    <ul class="layout-menu">
      <li app-menuitem *ngFor="let item of model; let i = index;" [item]="item" [index]="i" [root]="true"></li>
    </ul>
  </div>
</div>
<div class="page">
  <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-secondary" (click)="go()"></button>

  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5">
        <div class="row" style="margin-top: 120px;box-shadow: -1px 1px 50px 10px black;">
          <form class="col-md-12"
                *ngIf="!isLoggedIn"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate>
            <ul>
              <a href="#" style="border-bottom: 2px solid ;padding: 10px;">Se connecter </a>

            </ul>
            <div class="p-col-12 username-container">

              <label for="username" class="label control-label">Nom d'utilisateur</label>
              <div class="login-input">
                <input
                        type="text"
                        class="form-control"
                        name="username"
                        [(ngModel)]="form.username"
                        required
                        #username="ngModel"
                        id="username"
                        placeholder="nom d'utilisateur"
                />
                <div    style="padding: 13px"
                        class="alertDanger alert alert-danger"
                        role="alert"
                        *ngIf="f.submitted && username.invalid"
                >
                  Nom d'utilisateur est nécessaire
                </div>
              </div>

            </div>

            <div class="p-col-12 password-container">

              <label for="password" class="label control-label">Mot de passe</label>
              <div class="login-input">
                <input
                       placeholder="Mot de passe"
                       type="password"
                       class="form-control"
                       name="password"
                       [(ngModel)]="form.password"
                       required
                       minlength="6"
                       #password="ngModel"
                       id="password"
                />
                <div
                        class="alert alert-danger"
                        role="alert"
                        *ngIf="f.submitted && password.invalid"
                >
                  <div class="alertDanger" *ngIf="password.errors.required">Mot de passe est nécessaire</div>
                  <div *ngIf="password.errors.minlength" class="alertDanger" style="padding: 3px">
                    Le mot de passe doit être au moins de 6 caractères
                  </div>
                </div>
              </div>

            </div>


            <div class="form-group">
              <button class="btn btn-info">Connexion</button>
            </div>
            <div class="form-group">
              <div
                      class="alert alert-danger alertDanger"
                      role="alert"
                      *ngIf="f.submitted && isLoginFailed"
                      style="padding: 6px"
              >
                Connexion est echouée : Mot de passe ou nom d'utilisateur sont incorrects !!
              </div>
            </div>

          </form>
        </div>
      </div>

    </div>
  </div>
</div>