<p-dialog [(visible)]="createDialog1" [style]="{width: '450px'}" header="Creation d'Options " [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field" style="margin-top: 100px">
            <label for="code">Code Option</label>
            <input type="text" pInputText id="code" [(ngModel)]="inputValue1" required autofocus />
            <small class="p-invalid" *ngIf="submitted1 && !myOption.code">code is required.</small>
        </div>
        <div class="p-field" style="margin-bottom: 120px">
            <label for="libelle">libelle Option</label>
            <input type="text" pInputText id="libelle" [(ngModel)]="inputValue2" required autofocus />
            <small class="p-invalid" *ngIf="submitted1 && !myOption.libelle">libelle is required.</small>
        </div>

        <button style="margin-left: 30px;width: 110px; background-color: black;color: white" pButton pRipple label="Terminer" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
        <button pButton pRipple style=" margin-left: 80px; width: 124px; background-color: black;color: white" label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="saveOption(inputValue1,inputValue2)"></button>

    </ng-template>
</p-dialog>