<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card p-grid">
            <p-toolbar styleClass="p-mb-4 " class="p-col-12">
                <h2 class="p-col-12 p-text-center bold">Les notes de session normale</h2>
                <div class="p-col-2">
                    <p-dropdown [style]="{'width':'180px'}" [options]="years" [(ngModel)]="input1" optionLabel="libelle" optionValue="anneeOne" (onChange)="change1()" styleClass = "customClass" placeholder="Année universitaire"></p-dropdown>
                </div>

                <div class="p-col-2">
                    <p-dropdown [style]="{'width':'180px'}"  [options]="options" [(ngModel)]="input2" optionLabel="label" optionValue="value" [filter]="true" (onChange)="change2()"></p-dropdown>
                </div>

                <div class="p-col-2">
                    <p-dropdown [style]="{'width':'180px'}"  [options]="semestres" [(ngModel)]="input3" optionLabel="label" optionValue="value"  (onChange)="change3()"></p-dropdown>
                </div>

                <div class="p-col-4">
                    <p-dropdown [style]="{'width':'180px'}"  [options]="modules" [(ngModel)]="input4" optionLabel="label" optionValue="value" [filter]="true" (onClick)="change4()"></p-dropdown>
                </div>
                <p-button class="p-col-2" (click)="serachEtudiant(input4)">chercher</p-button>
            </p-toolbar>
            <p-toolbar>
                <ng-template pTemplate="right">
                    <input type="file" pInputText id="excel" (change)="onFileChange($event)" multiple="false" required autofocus />
                    <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="downloadExcel()" class="p-button-success p-mr-2"></button>
                    <!--<p-fileUpload mode="basic" accept="image/*" [maxFileSize]="1000000" label="Import" chooseLabel="Import" class="p-mr-2 p-mb-2 p-d-inline-block"></p-fileUpload>-->
                    <!--<p-fileUpload mode="basic" name="demo[]" url="./upload.php" accept="excel/*" maxFileSize="1000000" (onUpload)="onFileChange($event)"></p-fileUpload>-->
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="notesEtudiantModule" [columns]="cols"  [globalFilterFields]="['etudiant','etudiant1','noteContinue','noteFinaleAvantRat','noteModuleNormale','resultat']"
                      [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="cne">CNE <p-sortIcon field="cne"></p-sortIcon></th>
                        <th pSortableColumn="etudiant">Nom <p-sortIcon field="etudiant"></p-sortIcon></th>
                        <th pSortableColumn="etudiant1">Prenom <p-sortIcon field="etudiant1"></p-sortIcon></th>
                        <th pSortableColumn="noteContinue">N.continue <p-sortIcon field="noteContinue"></p-sortIcon></th>
                        <th pSortableColumn="noteFinaleAvantRat">N.Finale Normal <p-sortIcon field="noteFinaleAvantRat"></p-sortIcon></th>
                        <th pSortableColumn="noteModuleNormale">N.module sess normal<p-sortIcon field="noteModuleNormale"></p-sortIcon></th>
                        <th pSortableColumn="noteGlobale">Note globale<p-sortIcon field="noteGlobale"></p-sortIcon></th>
                        <th pSortableColumn="resultat">Resultat<p-sortIcon field="resultat"></p-sortIcon></th>
                        <th pSortableColumn="Action">Action<p-sortIcon field="Action"></p-sortIcon></th>

                        <!--<th pSortableColumn="totalPaye">Total Paye <p-sortIcon field="totalPaye"></p-sortIcon></th>-->
                        <th></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-note>
                    <tr>
                        <td>{{note.etudiant.cne}}</td>
                        <td>{{note.etudiant.nom}}</td>
                        <td>{{note.etudiant.prenom}}</td>
                        <td>{{note.noteContinue}}</td>
                        <td>{{note.noteFinalAvRat}}</td>
                        <td>{{note.noteModuleNormal}}</td>
                        <td>{{note.noteGlobale}}</td>
                        <td>{{note.etatValidation.libelle}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="edit(note)"></button>
                        </td>

                    </tr>
                </ng-template>

            </p-table>

        </div>
        <app-note-etudiant-module-edit></app-note-etudiant-module-edit>
        </div>
        </div>

