<div id="menu">
    <ul>
        <li><a (click)="gotTo('')" href="#" class="active">Acceuil</a></li>
        <li><a (click)="gotTo('view/register')"  class="active">Comptes</a></li>
        <li><a (click)="gotTo('view/inscriptionNouveauEtudiant')" class="active">Inscription Nouveau Etudiant</a></li>
        <li><a (click)="gotTo('view/inscriptionAncienEtudiant')" class="active">Inscription Ancien Etudiant</a></li>
        <li><a (click)="gotTo('view/ModuleOrAffecation')" class="active">Filiére-Module-Option</a></li>
        <li><a (click)="gotTo('view/note-etudiant-semestre')" class="active">PV des étudiants</a></li>
        <li><a (click)="gotTo('view/releveAdmin')" class="active">Relevé de Notes</a></li>
        <li><a (click)="gotTo('view/ponderation')" class="active">Pondération</a></li>
        <li><a (click)="gotTo('view/listeEtudiant')" class="active">Liste des etudiants</a></li>
    </ul>
</div>
<div class="p-grid">
    <div class="p-col-12 " >
        <p-toast></p-toast>
        <div class="card p-grid">
            <h2 class="p-col-12 p-text-center bold">Inscription des Anciens Etudiants</h2>

            <p-toolbar class="p-col-12" styleClass="p-mb-4 ">

                <div class="p-col-2">
                    <p-dropdown (onChange)="change1()" [(ngModel)]="etudiantOption.anneeUniversitaire.anneeOne" [options]="years" [style]="{'width':'180px'}"
                                optionLabel="libelle" optionValue="anneeOne"   styleClass="customClass" placeholder="année Univesitaire"></p-dropdown>
                </div>

                <div class="p-col-2">
                    <p-dropdown  [(ngModel)]="etudiantOption.myOption.code" [filter]="true" [options]="options"
                                 [style]="{'width':'180px'}" optionLabel="label" optionValue="value" ></p-dropdown>
                </div>

                <div class="p-col-2">
                    <p-dropdown  [(ngModel)]="etudiantOption.semestre.code" [options]="semestres"
                                 [style]="{'width':'180px'}" optionLabel="label" optionValue="value"></p-dropdown>
                </div>

                <button pButton pRipple class="p-col-2" class="p-button-success p-mr-2 p-mb-2" (click)="SearchAncienStudent()" label="chercher"></button>

            </p-toolbar>
           <div [ngClass]="{'vis':displayTable==false}">
            <p-toolbar class="p-col-12" >
                <ng-template pTemplate="left">
                    <h4 style="margin-left:520px ">La Liste des etudiants : </h4>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="etudiantAnciens" [columns]="cols" [rows]="4"  [globalFilterFields]="['CNE','Nom',' Prenom']"
                     [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="CNE">CNE <p-sortIcon field="CNE"></p-sortIcon></th>
                        <th pSortableColumn="NOM">NOM<p-sortIcon field="NOM"></p-sortIcon></th>
                        <th pSortableColumn="PRENOM">PRENOM<p-sortIcon field="PRENOM"></p-sortIcon></th>
                        <th pSortableColumn="Action">Action<p-sortIcon field="Action"></p-sortIcon></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-etudiantOption>
                    <tr>
                        <td>{{etudiantOption.etudiant.cne}} </td>
                        <td>{{etudiantOption.etudiant.nom}} </td>
                        <td> {{etudiantOption.etudiant.prenom}} </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editEtudiant(etudiantOption)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(etudiantOption)"></button>
                        </td>
                    </tr>
                </ng-template>

            </p-table>
           </div>
        </div>
        <app-inscription-ancien-edit></app-inscription-ancien-edit>
    </div>
</div>

<button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-secondary" (click)="gotTo('view/AdminNoteNote')"></button>
