<div class="layout-menu-container" (click)="onMenuClick($event)">
    <div class="menu-scroll-content">
        <!--<div class="layout-profile" *ngIf="app.inlineUser && !appMain.isHorizontal()">
                <a class="layout-profile-button" (click)="appMain.onProfileClick($event)">
                    <img src="" alt="image admine">
                    <div class="layout-profile-userinfo">
                        <span class="layout-profile-name">admine admine</span>
                        <span class="layout-profile-role">??</span>
                    </div>
                </a>
                <ul [@inline]="!appMain.isSlim() ? appMain.inlineUserMenuActive ? 'visibleAnimated' : 'hiddenAnimated' : appMain.inlineUserMenuActive ? 'visible' : 'hidden'" class="layout-profile-menu">
                    <li>
                        <a href="#" pRipple>
                            <i class="pi pi-fw pi-user"></i><span>Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" pRipple>
                            <i class="pi pi-fw pi-cog"></i><span>Paramètres</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" pRipple>
                            <i class="pi pi-fw pi-envelope"></i><span>Messages</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" pRipple>
                            <i class="pi pi-fw pi-bell"></i><span>Notifications</span>
                        </a>
                    </li>
                </ul>
        </div>-->
        <ul class="layout-menu">
            <li app-menuitem *ngFor="let item of model; let i = index;" [item]="item" [index]="i" [root]="true"></li>
        </ul>


    </div>
</div>
<div [ngClass]="{'vis':displayTable==false}" class="p-col-6">
    <div class="scrollmenu">
        <a href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>

    </div>

</div>

<div style="background-color: white;border:none">

    <div class="titre" >Bienvenue Dans Le site Officiel d'ISPITS de Marrakech</div>
</div>
<div class="p-grid">
    <div class="contenu_carou_auto">
        <div class="caroussel-image">
            <img src="../../../assets/OurImages/lidaraTest.jpg" alt>
            <img src="../../../assets/OurImages/monikO2.jpg" alt>
            <img src="../../../assets/OurImages/matereilleTest.jpg" alt>
            <img src="../../../assets/OurImages/monikCoeur.jpg" alt>
            <img src="../../../assets/OurImages/xokaTest.jpg" alt>
            <img src="../../../assets/OurImages/JRDAOLOGO.PNG" alt>
            <img src="../../../assets/OurImages/infer.jpg" alt>
            <img src="../../../assets/OurImages/monikTest.jpeg" alt>
        </div>
    </div>
</div>
<div style="border-radius: 12px;border-shadow:-1px 1px 10px 5px brown;">
    <p style="font-size: 20px;text-align:center;font-weight: bold;margin: 40px 70px">
        ISPITS Marrakech ou Institut Supérieur des Professions Infirmières et Techniques de Santé est créé par décision de Mr. Le Ministre de la Santé du 06 juin 2014, ISPITS Marrakech institut riche, ses ressources humaines, de son offre de formation, de sa longue expérience dans le domaine de la formation du personnel infirmier s’ouvre sur une nouvelle aire : l’aire de l’universitarisation de la formation des professions infirmières et techniques de santé.
    </p>
    <p style="color: brown;margin-left: 46px;font-size: 25px;font-family: cursive">
        Quelleque statistique sur l'ispits de Marrakech:
    </p>
    <p style="color: white">
        nhfuooeuryehf<br>
        roazjroioigoja,kvridfroi <br>
    </p>
</div>

<div class="p-grid" >
    <div class="container-fluid row">
        <div class=" container col-md-3">
            <img src="../../../assets/OurImages/filere.jpg" alt="Avatar" class="image">
            <div class="overlay overlay1">
                <div class="text">{{this.filieres.length}}</div>
                <p style="font-size: 40px;text-align: center;font-weight: bolder;color:white">Filières</p>
            </div>
        </div>

        <div class="container col-md-3">
            <img src="../../../assets/OurImages/OOO%20(2).jpg" width="900px" alt="Avatar" class="image2">
            <div class="overlay overlay2">
                <div class="text">{{this.options.length}}</div>
                <p style="font-size: 40px;text-align: center;font-weight: bolder;color:white">Options</p>
            </div>

        </div>

        <div class="container col-md-3">
            <img src="../../../assets/OurImages/modules.jpg"  alt="Avatar" class="image">
            <div class="overlay overlay3">
                <div class="text">{{this.modules.length}}</div>
                <p style="font-size: 40px;text-align: center;font-weight: bolder;color:white">Modules</p>
            </div>

        </div>
        <div class="container col-md-3">
            <img src="../../../assets/OurImages/etudiants.jpg" alt="Avatar" class="image">
            <div class="overlay overlay4">
                <div class="text">{{this.etudiants.length}}</div>
                <p style="font-size: 40px;text-align: center;font-weight: bolder;color:white">Etudiants</p>
            </div>

        </div>
    </div>

</div><div class="p-grid" style="margin-left:470px;margin-top:50px">
    <!--<button (click)="gotToPage('accueil/espace')">Espaces</button>-->
    <button class="button" (click)="go()">Connexion</button>
    <button class="button" (click)="gotToPage('espaces/etudiant')">Espace Etudiant</button>
</div>
