<!--hado fihom problem de lien-->
<!--<div class="container">
    <h1>PHOTOES</h1>
    <div id="demo" class="carousel slide carousel-fade" data-ride="carousel">

        <ul class="carousel-indicators">
            <li data-target="#demo" data-slide-to="0" class="active"></li>
            <li data-target="#demo" data-slide-to="1"></li>
            <li data-target="#demo" data-slide-to="2"></li>
        </ul>


        <div class="carousel-inner">
            <div class="carousel-item active" data-interval="4000">
                <img src="../../../assets/OurImages/Capture.PNG" alt="Carrousel slide 1" class="d-block w-100">
            </div>
            <div class="carousel-item" data-interval="2000">
                <img src="../../../assets/OurImages/JRDAOLOGO.PNG" alt="Carrousel slide 2" class="d-block w-100">
            </div>
            <div class="carousel-item" data-interval="1000">
                <img src="../../../assets/OurImages/LIDARAA.PNG" alt="Carrousel slide 3" class="d-block w-100">
            </div>
        </div>


        <a class="carousel-control-prev" href="#demo" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Précédent</span>
        </a>
        <a class="carousel-control-next" href="#demo" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Suivant</span>
        </a>
    </div>
</div>-->
<!--<div>
   <span id="votre_id1" class="target">
</span>
    <span id="votre_id2" class="target">
</span>
    <span id="votre_id3" class="target">
</span>
    <span id="votre_id4" class="target">
</span>
    <div class="cadre_diapo">
        <div class="interieur_diapo">
            <div class=description>
<span>
description1
</span>
                <img src="../../../assets/OurImages/Capture.PNG" alt>
            </div>
            <div class=description>
<span>
description2
</span>
                <img src="../../../assets/OurImages/JRDAOLOGO.PNG" alt>
            </div>
            <div class=description>
<span>
description3
</span>
                <img src="../../../assets/OurImages/LIDARAA.PNG" alt>
            </div>
            <div class=description>
<span>
description4
</span>
                <img src="../../../assets/OurImages/yyyyy.PNG" alt>
            </div>
        </div>
        <ul class="navigation_diapo">
            <li>
                <a href="#votre_id1">
                    <img src="../../../assets/OurImages/Capture.PNG" alt>
                </a>
            </li>
            <li>
                <a href="#votre_id2">
                    <img src="../../../assets/OurImages/JRDAOLOGO.PNG" alt>
                </a>
            </li>
            <li>
                <a href="#votre_id3">
                    <img src="../../../assets/OurImages/LIDARAA.PNG" alt>
                </a>
            </li>
            <li>
                <a href="#votre_id4">
                    <img src="../../../assets/OurImages/yyyyy.PNG" alt>
                </a>
            </li>
        </ul>
    </div>

</div>-->
<!--hadi li fiha tsiwrrat f lteht okhdmatt-->
<!--<div class=cadre-demo1>
    <div class="photos-mini">
        <div class=miniature>
            <input type="radio" name="demo" checked class="fen" id="lightbox-1">
            <label for="lightbox-1">
                <img src="../../../assets/OurImages/Capture.PNG" alt>
            </label>
            <img class="fenetre" src="../../../assets/OurImages/Capture.PNG" alt>
            <span class=figcaption>Titre1, description</span>
        </div>
        <div class=miniature>
            <input type="radio" name="demo" class="fen" id="lightbox-2">
            <label for="lightbox-2">
                <img src="../../../assets/OurImages/JRDAOLOGO.PNG" alt>
            </label>
            <img class="fenetre" src="../../../assets/OurImages/JRDAOLOGO.PNG" alt>
            <span class=figcaption>Titre2, description</span>
        </div>
        <div class=miniature>
            <input type="radio" name="demo" class="fen" id="lightbox-3">
            <label for="lightbox-3">
                <img src="../../../assets/OurImages/LIDARAA.PNG" alt>
            </label>
            <img class="fenetre" src="../../../assets/OurImages/LIDARAA.PNG" alt>
            <span class=figcaption>Titre3, description</span>
        </div>
        <div class=miniature>
            <input type="radio" name="demo" class="fen" id="lightbox-4">
            <label for="lightbox-4">
                <img src="../../../assets/OurImages/yyyyy.PNG" alt>
            </label>
            <img class="fenetre" src="../../../assets/OurImages/yyyyy.PNG" alt>
            <span class=figcaption>Titre4, description</span>
        </div>
        <div class=miniature>
            <input type="radio" name="demo" class="fen" id="lightbox-5">
            <label for="lightbox-5">
                <img src="../../../assets/OurImages/logoIspits.png" alt>
            </label>
            <img class="fenetre" src="../../../assets/OurImages/logoIspits.png" alt>
            <span class=figcaption>Titre5, description</span>
        </div>
        <div class=miniature>
            <input type="radio" name="demo" class="fen" id="lightbox-6">
            <label for="lightbox-6">
                <img src="../../../assets/OurImages/background.jpg" alt>
            </label>
            <img class="fenetre" src="../../../assets/OurImages/background.jpg" alt>
            <span class=figcaption>Titre6, description</span>
        </div>
    </div>
</div>-->
<!--<figure>
    <img src="../../../assets/OurImages/JRDAOLOGO.PNG" alt>
    <img src="../../../assets/OurImages/logoIspits.png" alt>
    <img src="../../../assets/OurImages/LIDARAA.PNG" alt>
    <img src="../../../assets/OurImages/yyyyy.PNG" alt>
    <img src="../../../assets/OurImages/JRDAOLOGO.PNG" alt>
</figure>-->
<!--<div class="p-col-4"></div>-->
<div class="p-grid">
    <div class="contenu_carou_auto">
        <div class="caroussel-image">
            <img src="../../../assets/OurImages/lidaraTest.jpg" alt>
            <img src="../../../assets/OurImages/monikO2.jpg" alt>
            <img src="../../../assets/OurImages/matereilleTest.jpg" alt>
            <img src="../../../assets/OurImages/monikCoeur.jpg" alt>
            <img src="../../../assets/OurImages/xokaTest.jpg" alt>
            <img src="../../../assets/OurImages/JRDAOLOGO.PNG" alt>
            <img src="../../../assets/OurImages/infer.jpg" alt>
            <img src="../../../assets/OurImages/monikTest.jpeg" alt>
        </div>
    </div>
</div>
<div class="p-grid">
    <!--<button (click)="gotToPage('accueil/espace')">Espaces</button>-->
    <button class="button" (click)="gotToPage('accueil/espace')"><span>Espaces </span></button>
</div>

