h2{
  padding: 20px;
  width: 100%;
  background-color: #f2f2f2;
  color: black;
}

.card{
  margin: 0 50px;
  padding: 1px;
}
#test{
  margin: 80px;
  color: brown;
  font-size: initial;
  font-family: cursive;
  text-decoration-line: underline;
  cursor:pointer;
}
#test :hover{

}