<div class="page">
  <div id="menu">
    <ul>
      <li><a (click)="gotTo('')" href="#" class="active">Acceuil</a></li>
      <li><a (click)="gotTo('')" href="#" class="active">Comptes</a></li>
      <li><a (click)="gotTo('view/inscriptionNouveauEtudiant')" class="active">Inscription Nouveau Etudiant</a></li>
      <li><a (click)="gotTo('view/inscriptionAncienEtudiant')" class="active">Inscription Ancien Etudiant</a></li>
      <li><a (click)="gotTo('view/ModuleOrAffecation')" class="active">Filiére-Module-Option</a></li>
      <li><a (click)="gotTo('view/note-etudiant-semestre')" class="active">PV des étudiants</a></li>
      <li><a (click)="gotTo('view/releveAdmin')" class="active">Relevé de Notes</a></li>
      <li><a (click)="gotTo('view/ponderation')" class="active">Pondération</a></li>
    </ul>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-5">
        <div class="row" style="margin-top: 10px;box-shadow: -1px 1px 50px 10px black;">
          <form class="col-md-12"
                *ngIf="!isSuccessful"
                name="form"
                (ngSubmit)="f.form.valid && onSubmit()"
                #f="ngForm"
                novalidate
          >
            <ul id="sign">
              <a href="#" style="border-bottom: 1px solid ;padding: 5px;">S'inscrire </a>
            </ul>

            <div class="p-col-12 username-container">

              <label for="username" class="label control-label">Nom d'utilisateur</label>
              <div class="login-input">
                <input
                        type="text"
                        pInputText
                        class="form-control"
                        name="username"
                        [(ngModel)]="form.username"
                        required
                        minlength="3"
                        maxlength="20"
                        #username="ngModel"
                        id="username"
                        placeholder="nom d'utilisateur"
                />
                <div class="alert-danger" *ngIf="f.submitted && username.invalid">
                  <div class="alertDanger" style="padding: 6px" *ngIf="username.errors.required">Nom d'utilisateur est nécessaire</div>
                  <div class="alertDanger" style="padding: 6px" *ngIf="username.errors.minlength">
                    Nom d'utilisateur doit contient au moin que 3 charactèrs
                  </div>
                  <div class="alertDanger" style="padding: 6px" *ngIf="username.errors.maxlength">
                    Nom d'utilisateur doit contient au moin que 20 charactèrs
                  </div>
                </div>
              </div>

            </div>
            <div class="p-col-12 username-container">

              <label for="username" class="label control-label">Email</label>
              <div class="login-input">
                <input
                        type="email"
                        class="form-control"
                        name="email"
                        [(ngModel)]="form.email"
                        required
                        email
                        #email="ngModel"
                        id="email"
                        placeholder="email"
                />
                <div class="alert-danger" *ngIf="f.submitted && email.invalid">
                  <div  class="alertDanger" style="padding: 6px" *ngIf="email.errors.required">L'e-mail est nécessaire</div>
                  <div class="alertDanger" style="padding: 6px" *ngIf="email.errors.email">
                    L'e-mail doit être une adresse e-mail valide
                  </div>
                </div>
              </div>

            </div>
            <div class="p-col-12 username-container">
              <label  class="label control-label">Premier role</label>
              <p-dropdown  [ngModelOptions]="{standalone: true}"  [(ngModel)]="role1" [options]="rolesOptions" [style]="{'width':'180px'} "
                          optionLabel="label" optionValue="value"   styleClass="customClass" placeholder="choisir un role"></p-dropdown>

            </div>
            <div class="p-col-12 username-container">
              <label  class="label control-label">Deuxiéme role</label>
              <p-dropdown   [ngModelOptions]="{standalone: true}" [(ngModel)]="role2" [options]="rolesOptions" [style]="{'width':'180px'} "
                          optionLabel="label" optionValue="value"   styleClass="customClass" placeholder="choisir un role"></p-dropdown>

            </div>
            <div class="p-col-12 password-container">

              <label for="password" class="label control-label">Mot de passe</label>
              <div class="login-input">
                <input pPassword type="password" class="form-control"
                       placeholder="Mot de passe"
                       name="password"
                       [(ngModel)]="form.password"
                       required
                       minlength="6"
                       #password="ngModel"
                       id="password"
                />
                <div class="alert-danger" *ngIf="f.submitted && password.invalid">
                  <div class="alertDanger" style="padding: 6px" *ngIf="password.errors.required">Mot de passe est nécessaire</div>
                  <div class="alertDanger" style="padding: 6px" *ngIf="password.errors.minlength">
                    Le mot de passe doit être au moins de 6 caractères
                  </div>
                </div>
              </div>

            </div>
            <p>Un bon mot de passe contient des majuscules, des minuscules, au moins 1 chiffre .<br>
              Exemple : ert@Ty4o32.</p>



            <div class="form-group">
              <button class="btn btn-info">S'inscrire</button>
            </div>

            <div  style="padding: 6px" class="alertDanger alert alert-warning" *ngIf="f.submitted && isSignUpFailed">
              la création de compt est echouée!<br />{{ errorMessage }}
            </div>
          </form>
          <div class="alert alert-success"  style="height: 300px" *ngIf="isSuccessful">
            <label class="alertt">L'inscription est réussie !</label>
          </div>
        </div>
      </div>

    </div>

  </div>
</div>