label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 400px !important;
  padding: 40px 40px;
}

.card {
  background-color: #f7f7f7;
  padding: 20px 25px 30px;
  margin: 0 auto 25px;
  margin-top: 50px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  border-radius: 2px;
  -moz-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}


.page{
  margin: 0px;
  padding: 0px;
/*background-image: url("green6.jpg");*/
background-size: cover;
  background-attachment: fixed;
  font-family:new time roman ;
  width: 1350px;
  height: 1000px;
background-image: url("../../../assets/OurImages/overlay.png"),url("../../../assets/OurImages/infer.jpg");
}

.police{
  font-size: small;
  font-family: "Niagara Solid";
}

ul{
  margin-bottom: 10px;
}
#sign a {
  border-bottom: 2px solid;
  padding: 10px;
  margin-left: 120px;
  font-size: xx-large;
  color: lightblue;
}
#sign a:hover{
  text-decoration: none;
  color:lightcyan;
/*background-color:palegreen ;*/
}
.label{
  font-size: 25px;/*lktba*/
  color:ghostwhite;
  font-weight: normal;
}
.form-control{
  background:  transparent;
  border-radius: 0px;
  border: 0px;
  border-bottom: 1px solid cadetblue;
  margin-bottom: 10px ;
  font-size: 20px;
  color: darkgrey;
  padding: 5px;
}
input[type="checkbox"]{
  height: 15px;
  width: 15px;
}
small{
  font-size: 19px;
  color:ghostwhite ;
}
.btn-info{
  border: 1px solid cadetblue;
  width: 360px;
margin-top: 10px;
  margin-bottom: 10px;
  font-size: 17px;/*botton s'inscrir*/
  background: transparent;
  margin-left: 50px
}
.btn-info:hover{
  background:#87CEFA ;
  border-bottom: 2px;
}
p{
  font-size: 20px;
  margin-top: 1px;
  color: darkseagreen;
}
img{
  width: 450px;
  height: 477px;
}
input{
  margin-top: 1px ;
}
#menu {
  margin: 0;
  width: 1350px;
  background-color: #565656;
  font-size: 12px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: left;
  padding: 2px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
}

#menu ul {
  margin: 0;
  padding: 8px 0;
  list-style: none;
  height: auto;
}

#menu li {
  display: inline;
  padding: 10px;
}

#menu a {
  color: #FFF;
  padding: 10px;
  text-decoration: none;
  cursor:pointer;
}

#menu a:hover {
  background-color: #1B191B;
  color: #FFF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
}

#menu li .active {
  background-color: #1B191B;
  color: #FFF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
}

.alertt{
  font-size: 25px;
  text-align: center;
  margin-top: 110px;
  color: green;

}
.alertDanger{
  font-size: 20px;
}