<p-dialog [(visible)]="createDialog1" [style]="{width: '600px'}" header="La Liste des Seances" [modal]="true" styleClass="p-fluid">
<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div style="margin: 7px 0">
                <button pButton pRipple style="margin-left: 30px;width: 120px; background-color: black;color: white"  label="Fermer" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
                <button pButton pRipple style=" margin-left: 160px; width: 160px; background-color: #5E8F32;color: white" label="Nouveau Seance" icon="pi pi-plus" class="p-button-text"  (click)="openCreate()"></button>
        </div>
            <div class="card">
            <p-table #dt [value]="seances" [columns]="5"  [globalFilterFields]="['libelle','heurDebut','heurFin','dateSeance']"
                     [rowHover]="true" dataKey="id" styleClass="p-datatable-customers">
                <!--currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"  [(selection)]="selectes">-->
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">Les seances De cet Module</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="code">Libelle</th>
                        <th pSortableColumn="heurDebut">Heure Debut</th>
                        <th pSortableColumn="heurFin">Heure Fin </th>
                        <th pSortableColumn="heurFin">Date Seance</th>
                        <th pSortableColumn="heurFin">Action </th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-seance>
                    <tr>
                        <td>{{seance.libelle}}</td>
                        <td>{{seance.heureDebut}}</td>
                        <td>{{seance.heureFin}}</td>
                        <td>{{seance.dateSeance}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="openCreate1(seance)"></button>

                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il y a {{seances ? seances.length : 0 }} éléments.
                    </div>
                </ng-template>
            </p-table>
        </div>
        <app-seance-create></app-seance-create>
        <app-seance-edit></app-seance-edit>
        <!--<app-myOption-liste></app-myOption-liste>
        <app-myModule-view></app-myModule-view>-->
        <p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
    </div>


</div>

   </p-dialog>