<!--<div class="row">

    <div class="col-md-8" id="htmlData">
        <table class="table table-bordered">

            <tr>
                <th>PV du jury du semestre:</th>
                <th>S{{semestreSelct}} </th>
            </tr>

            <tr>
                <th>Nom et Prénom: </th>
                <th>{{notesEtudiantModules[0].etudiant.nom+'   '+notesEtudiantModules[0].etudiant.prenom}}</th>
            </tr>

            <tr class="table-primary">
                <th>Module</th>
                <th >Note Module</th>
                <th>Etat de Validation</th>
                <th>Année Universitaire</th>
            </tr>
            <tr *ngFor="let n of notesEtudiantModules">
                <th>{{n.moduleSemestreOption.myModule.libelle}}</th>
                <td>{{n.noteGlobale}}</td>
                <td>{{n.etatValidation.libelle}}</td>
                <td>{{n.moduleSemestreOption.anneeUniversitaire.libelle}}</td>
                <td></td>
                <td></td>
            </tr>
        </table>
    </div>

    <div class="col-md-4 text-right">
        <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
    </div>

</div>-->
<div class="row">

    <div class="col-md-8" id="htmlData">
        <table class="table table-bordered">

            <tr>
                <th>PV du jury du semestre:</th>
                <th>S{{semestreSelct}} </th>
            </tr>

            <tr>
                <th>Nom et Prénom: </th>
                <th>{{notesEtudiantModules[0].etudiant.nom+'  '+notesEtudiantModules[0].etudiant.prenom}}</th>
            </tr>


            <tr class="table-primary">
                <th>Module</th>
                <th >Note Module</th>
                <th>Etat de Validation</th>
                <th>Année Universitaire</th>
            </tr>
            <tr *ngFor="let n of notesEtudiantModules">
                <th>{{n.moduleSemestreOption.myModule.libelle}}</th>
                <td>{{n.noteGlobale}}</td>
                <td>{{n.etatValidation.libelle}}</td>
                <td>{{n.moduleSemestreOption.anneeUniversitaire.libelle}}</td>
            </tr>
        </table>
    </div>

    <div class="col-md-4 text-right">
        <button class="btn btn-success btn-block" (click)="openPDF()">Download PDF</button>
    </div>

</div>
