<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card p-grid">
            <h2 class="p-col-12 p-text-center bold">Note rattrapage</h2>

            <p-toolbar styleClass="p-mb-4 " class="p-col-12">
                <div class="p-col-2">
                    <p-dropdown [options]="years" placeholder="Année Universitaire" [(ngModel)]="input1" optionLabel="libelle" optionValue="anneeOne" (onChange)="change1()"></p-dropdown>
                </div>


                <div class="p-col-2">
                    <p-dropdown [options]="options" [(ngModel)]="input2" optionLabel="label" optionValue="value" [filter]="true" (onChange)="change2()"></p-dropdown>
                </div>

                <div class="p-col-2">
                    <p-dropdown [options]="semestres" [(ngModel)]="input3" optionLabel="label" optionValue="value"  (onChange)="change3()"></p-dropdown>
                </div>

                <div class="p-col-4">
                    <p-dropdown [options]="modules" [(ngModel)]="input4" optionLabel="label" optionValue="value" [filter]="true" (onClick)="change4()"></p-dropdown>
                </div>
                    <p-button class="p-col-2" (click)="listeRatt(input4)">chercher</p-button>
            </p-toolbar>
            <p-toolbar>
                <ng-template pTemplate="left">
                    <input type="file"   id="excel" (change)="onFileChange($event)" class="upload-box"/>
                    <p-button type="button" icon="pi pi-file-excel" (click)="downloadExcel()"></p-button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="notesEtudiantRat" [columns]="cols" [rows]="4" [paginator]="true" [globalFilterFields]="['cne','nom','prenom','noteFinalRat','noteModuleNormale','notContinue','noteModuleSessionRat','noteGlobal','resultat']"
                     [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="cne">CNE <p-sortIcon field="cne"></p-sortIcon></th>
                        <th pSortableColumn="nom">Nom <p-sortIcon field="nom"></p-sortIcon></th>
                        <th pSortableColumn="prenom">Prenom <p-sortIcon field="prenom"></p-sortIcon></th>
                        <th pSortableColumn="noteFinalRat">N.Finale Rat <p-sortIcon field="noteFinalRat"></p-sortIcon></th>
                        <th pSortableColumn="noteModuleNormale">N.module sess normal<p-sortIcon field="noteModuleNormale"></p-sortIcon></th>
                        <th pSortableColumn="notContinue">Note continue<p-sortIcon field="notContinue"></p-sortIcon></th>
                        <th pSortableColumn="noteModuleSessionRat">N.module sess Rat<p-sortIcon field="noteModuleSessionRat"></p-sortIcon></th>
                        <th pSortableColumn="noteGlobal">Note globale<p-sortIcon field="noteGlobal"></p-sortIcon></th>
                        <th pSortableColumn="resultat">Resultat<p-sortIcon field="resultat"></p-sortIcon></th>
                        <th pSortableColumn="Action">Action<p-sortIcon field="Action"></p-sortIcon></th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-note>
                    <tr>
                        <td>{{note.etudiant.cne}}</td>
                        <td>{{note.etudiant.nom}}</td>
                        <td>{{note.etudiant.prenom}}</td>
                        <td>{{note.noteFinalApresRat}}</td>
                        <td>{{note.noteModuleNormal}}</td>
                        <td>{{note.noteContinue}}</td>
                        <td>{{note.noteModuleRat}}</td>
                        <td>{{note.noteGlobale}}</td>
                        <td>{{note.etatValidation.libelle}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="edit(note)"></button>
                        </td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
        <app-note-etudiant-rat-edit></app-note-etudiant-rat-edit>
    </div>
</div>

