<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card p-grid">
            <p-toolbar styleClass="p-mb-4" class="p-col-12">

                <div class="p-col-8">
                    <label class="p-col-3">veuillez Choisir une filiére:</label>
                    <p-dropdown class="p-col-3" [options]="filieres" [(ngModel)]="fil" optionLabel="libelle" [filter]="true" optionValue="code" placeholder="Filiere" (onChange)="change1()"></p-dropdown>
                </div>

                <p-button  class="p-col-4" icon="pi pi-search" label="Chercher" (click)="chercheOptions()"></p-button>
            </p-toolbar>

            <p-table #dt [value]="myOptions" [columns]="2" [rows]="4"  [globalFilterFields]="['code','libelle']"
                     [rowHover]="true" dataKey="id" styleClass="p-datatable-customers">
                <!--currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"  [(selection)]="selectes">-->
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 style="margin-left: 450px">Liste des Options et ses pondérations </h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="option">option<p-sortIcon field="option"></p-sortIcon></th>
                        <th pSortableColumn="Action">Coeficient continue<p-sortIcon field="Action"></p-sortIcon></th>
                        <th pSortableColumn="Action">Coeficient Finale<p-sortIcon field="Action"></p-sortIcon></th>
                        <th pSortableColumn="Action">Action<p-sortIcon field="Action"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-myOpt>
                    <tr>
                        <td>{{myOpt.libelle}}</td>
                        <td>{{myOpt.coefContinue}}</td>
                        <td>{{myOpt.coefFinale}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="openCreate(myOpt)"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il y a {{myOptions ? myOptions.length : 0 }} éléments.
                    </div>
                </ng-template>
            </p-table>

        </div>
        <app-ponderation-create></app-ponderation-create>
    </div>
</div>


