<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card p-grid">
            <p-toolbar styleClass="p-mb-4 " class="p-col-12">
                <div class="p-col-2">
                    <p-dropdown [options]="myOptions" [(ngModel)]="input1" optionLabel="libelle" [filter]="true" optionValue="code" (onChange)="change1()"></p-dropdown>
                </div>

                <div class="p-col-2">
                    <p-dropdown [options]="years" [(ngModel)]="input2" optionLabel="label" optionValue="value" [filter]="true" (onChange)="change2()"></p-dropdown>
                </div>

                <div class="p-col-2">
                    <p-dropdown [options]="semestres" [(ngModel)]="input3" optionLabel="label" optionValue="value"  (onChange)="change3()"></p-dropdown>
                </div>
                <p-button class="p-col-2" (click)="serachEtudiant(input2,input1,input3)">chercher</p-button>
            </p-toolbar>

            <p-table #dt [value]="myNotesSemestre" [columns]="2" [rows]="4" [paginator]="true" [globalFilterFields]="['etudiant','note','etatValidation']"
                     [rowHover]="true" dataKey="id" styleClass="p-datatable-customers">
                <!--currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"  [(selection)]="selectes">-->
                <ng-template pTemplate="caption">
                    <div class="p-d-flex p-flex-column p-flex-md-row p-jc-md-between table-header">
                        <h5 class="p-m-0">options</h5>
                    </div>
                </ng-template>
                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="option">Etudiant<p-sortIcon field="option"></p-sortIcon></th>
                        <th pSortableColumn="Action">note<p-sortIcon field="Action"></p-sortIcon></th>
                        <th pSortableColumn="Action">Etat de Validation<p-sortIcon field="Action"></p-sortIcon></th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-noteSemestre>
                    <tr>
                        <td>{{noteSemestre.etudiant.nom+noteSemestre.etudiant.prenom}}</td>
                        <td>{{noteSemestre.note}}</td>
                        <td>{{noteSemestre.etatValidation}}</td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2"></button>
                        </td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <div class="p-d-flex p-ai-center p-jc-between">
                        En totale il y a {{myNotesSemestre ? myNotesSemestre.length : 0 }} éléments.
                    </div>
                </ng-template>
            </p-table>

        </div>
        <app-ponderation-create></app-ponderation-create>
    </div>
</div>



