<button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-secondary" (click)="gotTo('view/AdminAbsence')"></button>

<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card p-grid">
            <h2 class="p-col-12 p-text-center bold">Consultation des Absences</h2>

            <p-toolbar styleClass="p-mb-4" class="p-col-12">
                <div class="p-col-6">
                    <label class="p-col-3" for="dateSeance">Entrer la Date:  </label>
                    <p-calendar class="p-col-9"  id="dateSeance" [(ngModel)]="input" [monthNavigator]="true"
                                [yearNavigator]="true" yearRange="2021:2040" type="datetime-local" dateFormat="yy-MM-dd"></p-calendar>
                </div>
                <div class="p-col-2"></div>
                <p-button class="p-col-4" icon="pi pi-search" label="Chercher" (click)="chercheAbsences(input)"></p-button>
            </p-toolbar>

            <p-table #dt [value]="absences" [columns]="3" [rows]="4" [globalFilterFields]="['etudiant','option','seance','justification','etatAbsence','atatJustification']"
                     [(selection)]="selectors"  [rowHover]="true" dataKey="id" styleClass="p-datatable-customers">
                <!--currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true"  [(selection)]="selectes">-->

                <ng-template pTemplate="header">
                    <!--<tr>
                        <th>PV du jury du semestre:</th>
                        <th>S{{semestreSelct}} </th>
                    </tr>
                    <tr>
                        <th>Nom et Prénom: </th>
                        <th>{{notesEtudiantModules[0].etudiant.nom+'  '+notesEtudiantModules[0].etudiant.prenom}}</th>
                    </tr>-->

                    <tr>
                        <th pSortableColumn="option">Etudiant<p-sortIcon field="option"></p-sortIcon></th>
                        <th pSortableColumn="Action">Option<p-sortIcon field="Action"></p-sortIcon></th>
                        <th pSortableColumn="Action">Seance<p-sortIcon field="Action"></p-sortIcon></th>
                        <th pSortableColumn="Action">Justification<p-sortIcon field="Action"></p-sortIcon></th>
                        <th style="width: 3rem">
                            <p-tableHeaderCheckbox></p-tableHeaderCheckbox>
                        </th>
                        <th>Accepter</th>
                        <th>etat de justification</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-absence>
                    <tr>

                    </tr>
                    <tr>
                        <td>{{absence.etudiant.nom+'  '+absence.etudiant.prenom}}</td>
                        <td>{{absence.seance.moduleSemestreOption.myOption.libelle}}</td>
                        <td>{{absence.seance.libelle}}</td>
                        <td><input type="button" class="envoye" (click)="getImage(absence)" value="Voir la justification"></td>
                        <td>
                            <p-tableCheckbox [value]="absence"></p-tableCheckbox>
                        </td>
                        <td></td>
                        <td>{{absence.etatJustification}}</td>
                    </tr>
                </ng-template>
                <ng-template pTemplate="summary">
                    <button class="buttonClass" (click)="updateAbsences(absences,selectors)">Enregistrer tous</button>
                </ng-template>

            </p-table>
            <div class="p-d-flex p-ai-center p-jc-between">
            </div>

        </div>
    </div>
    <app-justification></app-justification>
</div>