$primaryColor: #0f97c7 !default;
$primaryLightColor: scale-color($primaryColor, $lightness: 60%) !default;
$primaryDarkColor: scale-color($primaryColor, $lightness: -10%) !default;
$primaryDarkerColor: scale-color($primaryColor, $lightness: -20%) !default;
$primaryTextColor: #ffffff !default;

$highlightBg: $primaryColor;
$highlightTextColor: $primaryTextColor;

@import '../sass/theme/_theme';

.p-dialog .p-dialog-content {
  background: #714c4c;
  color: #495057;
  padding: 0 1.5rem 2rem 1.5rem;
  height: 700px;
}