

<!--<div class="container">
    <div class="row">
        <div class="arriere">
            <div class="col-md-8" id="coco">
                <div><img src="../../../assets/OurImages/pdfImg.PNG" width="750px" height="65px"></div>

       <div class="arriere">
           <tr>
               <td>CNE</td>
               <td>CNE</td>
               <td>Filière</td>
               <td>Filière</td>
               <td>Option</td>
               <td>Option</td>
           </tr>
           <tr>
               <td>Nom</td>
               <td>Prénom</td>
               <td>Date de naissance</td>
           </tr>
           <tr>
               <td>Semestre</td>
               <td>Année universitaire</td>
           </tr>
           <table class="table table-bordered border-primary">
               <thead>
               <tr>
                   <th>Module</th>
                   <th >Moyenne du module</th>
                   <th>Validation</th>
                   <th>Année Universitaire</th>
               </tr>
               </thead>
               <tbody>
               <tr *ngFor="let user of USERS">
                   <th>{{user.id}}</th>
                   <td>{{user.name}}</td>
                   <td>{{user.email}}</td>
                   <td>{{user.phone}}</td>
               </tr>
               </tbody>
           </table>
           <table class="table table-bordered border-primary">
               <tr>
                   <td class="border border-success">Moyenne de semestrielle</td>
                   <td class="border border-success">{{USERS[0].phone}}</td>
               </tr>
               <tr>
                   <td class="border border-success">Décision</td>
                   <td class="border border-success">{{USERS[0].phone}}</td>
               </tr>

           </table>
       </div>
            </div>
        </div>

        <div class="col-md-4 text-right">
            <button class="btn btn-success btn-block" (click)="gneratePDF()">PDF</button>

            <button (click)="gotToPage('view/note-semestre-one')">Affichier le relvee de note</button>

            <p-button class="p-col-2" label="Confirmer" class="p-button-success p-mr-2 p-mb-2"
                      (onClick)="gneratePDF();gotToPage('view/note-semestre-one');"></p-button>

            <button class="btn"><i class="fa fa-download"></i> Download</button>

        </div>


    </div>
</div>-->


<div class='caroussel_diapo'>
    <input checked id="carou_un" name="rotation" type="radio">
    <label for="carou_un"></label>
    <input id="carou_deux" name="rotation" type="radio">
    <label for="carou_deux"></label>
    <input id="carou_trois" name="rotation" type="radio">
    <label for="carou_trois"></label>
    <!--<input id="carou_quatre" name="rotation" type="radio">
    <label for="carou_quatre"></label>
    <input id="carou_cinq" name="rotation" type="radio">
    <label for="carou_cinq"></label>
    <input id="carou_six" name="rotation" type="radio">
    <label for="carou_six"></label>
    <input id="carou_sept" name="rotation" type="radio">
    <label for="carou_sept"></label>
    <input id="carou_huit" name="rotation" type="radio">
    <label for="carou_huit"></label>-->
    <div class="contenu_carou">
        <div class="caroussel">
            <img src="../../../../assets/OurImages/JRDAOLOGO.PNG" alt>
            <img src="../../../../assets/OurImages/logoIspits.png" alt>
            <img src="../../../../assets/OurImages/LIDARAA.PNG" alt>
            <!--<img src="../../../../assets/OurImages/yyyyy.PNG" alt>
            <img src="../../../../assets/OurImages/background.jpg" alt>
            <img src="../../../../assets/OurImages/img.png" alt>
            <img src="../../../../assets/OurImages/infer.jpg" alt>
            <img src="../../../../assets/OurImages/Capture.PNG" alt>-->
        </div>
    </div>
</div>
