<p-dialog [(visible)]="createDialog" [style]="{width: '450px'}" header="Enregistrer Nouveau Etudiant" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" >
        <div class="p-field" style="margin-top: 20px">
            <label for="cne">CNE</label>
            <input type="text" pInputText id="cne" [(ngModel)]="etudiantOption.etudiant.cne" required autofocus/>
        </div>
        <div class="p-field">
            <label for="dateNaissance">Date de Naissance</label>
            <p-calendar  id="dateNaissance" [(ngModel)]="date" [monthNavigator]="true"
                         [yearNavigator]="true" yearRange="1900:2040" dateFormat="yy-MM-dd"></p-calendar>
        </div>

        <div class="p-field">
            <label for="cin">CIN</label>
            <input type="text" (click)="addDate()" pInputText id="cin" [(ngModel)]="etudiantOption.etudiant.cin" required autofocus />
        </div>


        <div class="p-field">
            <label for="nom">Nom</label>
            <input type="text" pInputText id="nom" [(ngModel)]="etudiantOption.etudiant.nom" required autofocus />
        </div>

        <div class="p-field" style="margin-bottom: 30px">
            <label for="prenom">Prenom</label>
            <input type="text" pInputText id="prenom" [(ngModel)]="etudiantOption.etudiant.prenom" required autofocus />
        </div>

        <button pButton pRipple style="margin-left: 30px;width: 94px; background-color: black;color: white" label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
        <button pButton pRipple style=" margin-left: 60px; width: 120px; background-color: black;color: white" label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="saveNewEtudiant()"></button>


    </ng-template>

</p-dialog>


