<div id="menu">
    <ul>
        <li><a (click)="gotTo('')" href="#" class="active">Acceuil</a></li>
        <li><a (click)="gotTo('')" href="#" class="active">Comptes</a></li>
        <li><a (click)="gotTo('view/inscriptionNouveauEtudiant')" class="active">Inscription Nouveau Etudiant</a></li>
        <li><a (click)="gotTo('view/inscriptionAncienEtudiant')" class="active">Inscription Ancien Etudiant</a></li>
        <li><a (click)="gotTo('view/ModuleOrAffecation')" class="active">Filiére-Module-Option</a></li>
        <li><a (click)="gotTo('view/note-etudiant-semestre')" class="active">PV des étudiants</a></li>
        <li><a (click)="gotTo('view/releveAdmin')" class="active">Relevé de Notes</a></li>
        <li><a (click)="gotTo('view/ponderation')" class="active">Pondération</a></li>
    </ul>
 </div>

<div class="page">
    <button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-secondary" (click)="gotTo('view/AdminNoteNote')"></button>

    <h1>Veuillez choisir l'espace que vous voulez</h1>
    <button (click)="gotTo('view/myModule')" class="button">CREATION DES MODULES<span class="gg">-------------</span>
    </button>
    <button (click)="gotTo('/view/filiere')" class="button">FILIERES/OPTIONS/AFFECTATION DES MODULES</button>

  </div>
