<button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-secondary" (click)="gotEspaceEtudiant('espaces/etudiant')"></button>
<div class="p-grid">
    <div class="p-col-12 " style="padding-top:5px">
        <p-toast></p-toast>
        <div class="card p-grid">
            <h2 class="p-col-12 p-text-center bold">Consultation des Relevés de Note </h2>

            <p-toolbar class="p-col-12" styleClass="p-mb-4 ">
            <div class="p-field p-col-4" style="margin-top: 40px">
                <label>Enter Votre CNE: </label> <input type="text" pInputText id="code" [(ngModel)]="input1" placeholder="VOTRE CNE" required autofocus />
                <small style="margin-top: 10px"><span class="fozia">----------*******---------</span><span class="keltoum">*Veuillez saisir les alphabets de votre cne en majuscules</span></small>
            </div>
            <p-dropdown [options]="semestres" [(ngModel)]="input2" optionLabel="label" optionValue="value" (onChange)="change2()"></p-dropdown>
            <div class="p-field p-col-4" >

                <p-button class="p-col-4" label="Confirmer" class="p-button-success p-mr-2 p-mb-2" (click)="tester()"></p-button>
                    <!--<p-button class="p-col-2" label="Confirmer" class="p-button-success p-mr-2 p-mb-2" (click)="afficherPV(input1,input2)"></p-button>
                <button (click)="gotToPage('view/note-semestre-one')">Affichier le relvee de note</button>-->
                <!--<p-button class="p-col-2" label="Confirmer" class="p-button-success p-mr-2 p-mb-2"
                onclick="afficherPV(input1,input2);gotToPage('view/note-semestre-one');"></p-button>
                <button type="button" onclick="function1();function2();">Cliquez ici</button>
                <button (click)='openNewTab()'>voir les resultats</button>
                <input type="button" [routerLink]="['/view/note-semestre-one']" class="btn" routerLinkActive="active">uu
                <a routerLink="/view/note-semestre-one" class="nav-link" routerLinkActive="active">her</a>
                <button (click)='openNewTab()'>voir les resultats</button>-->

            </div>
        </p-toolbar>
    </div>
    <!--<div class="p-grid">
        <div class="p-col-12"><app-note-semestre-one></app-note-semestre-one></div>
</div>-->

</div>
</div>

