<div class="contenu_carou_auto">
    <div class="caroussel-image">
        <img src="../../../../assets/OurImages/JRDAOLOGO.PNG" alt>
        <img src="../../../../assets/OurImages/logoIspits.png" alt>
        <img src="../../../../assets/OurImages/LIDARAA.PNG" alt>
        <img src="../../../../assets/OurImages/yyyyy.PNG" alt>
        <img src="../../../../assets/OurImages/background.jpg" alt>
        <img src="../../../../assets/OurImages/img.png" alt>
        <img src="../../../../assets/OurImages/infer.jpg" alt>
        <img src="../../../../assets/OurImages/Capture.PNG" alt>
    </div>
</div>
