<div class="p-grid sizer">
    <div class="p-col-4">
        <p-dropdown [style]="{'width':'180px'}" [options]="annees" [(ngModel)]="input1" optionLabel="libelle" optionValue="libelle" (onChange)="change1()" styleClass = "customClass" placeholder="Année universitaire" style="width: 300px;"></p-dropdown>
    </div>
    <div class="p-col-4">
        <p-dropdown [style]="{'width':'180px'}" [options]="myoptions" [(ngModel)]="input2" optionLabel="libelle" optionValue="code" (onChange)="change2()" styleClass = "customClass" placeholder="option" style="width: 300px;"></p-dropdown>
    </div>
    <div class="p-col-4">
        <button type="button" class="btn btn-success" (click)="afficherSeance(input1,input2)" style="width: 95px;height:30px;background-color: #0F8C50">chercher</button>
    </div>
</div>
<div class="p-grid">
    <div class="col-11">
        <p-fullCalendar [events]="events" [options]="options"></p-fullCalendar>
    </div>
</div>




<!--<p-dialog [(visible)]="eventDialog" [style]="{width: '450px'}" header="Event Details" [modal]="true" [closable]="true">
                  <ng-template pTemplate="content">
                      <div class="p-fluid">
                          <div class="p-field">
                              <label for="title">Title</label>
                              <input id="title" type="text" pInputText *ngIf="clickedEvent" [(ngModel)]="changedEvent.title" [required]="true">
                          </div>
                          <div class="p-field">
                              <label for="start">From</label>
                              <p-calendar id="start" *ngIf="clickedEvent" [(ngModel)]="changedEvent.start" [showTime]="true" appendTo="body"></p-calendar>
                          </div>
                          <div class="p-field">
                              <label for="end">To</label>
                              <p-calendar id="end" *ngIf="clickedEvent" [(ngModel)]="changedEvent.end" [showTime]="true" appendTo="body"></p-calendar>
                          </div>
                          <div class="p-field-checkbox">
                              <p-checkbox id="allday" *ngIf="clickedEvent" [(ngModel)]="changedEvent.allday"></p-checkbox>
                              <label for="allday">All Day</label>
                          </div>
                      </div>
                  </ng-template>

                  <ng-template pTemplate="footer">
                      <button pButton label="Save" icon="pi pi-check" class="p-button-text"></button>
                      <button pButton label="Reset" icon="pi pi-refresh" class="p-button-text"></button>
                  </ng-template>
              </p-dialog>-->
