<p-dialog [(visible)]="editDialog" [style]="{width: '450px'}" header="note Edit" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field" style="margin-top: 100px">
            <label for="ref">Note Continue (Exemple 14.00)</label>
            <input placeholder="0.00" type="number" pInputText id="ref" [(ngModel)]="noteEtudiantModule.noteContinue" required autofocus (change)="verifyNote(noteEtudiantModule.noteContinue)"/>
        </div>

        <div class="p-field" style="margin-bottom: 120px">
            <label for="total">Note Examen Final</label>
            <input type="number" pInputText id="total" [(ngModel)]="noteEtudiantModule.noteFinalAvRat" required autofocus (change)="verifyNote(noteEtudiantModule.noteFinalAvRat)"/>
        </div>


        <button pButton pRipple style="margin-left: 30px;width: 94px; background-color: black;color: white" label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
        <button pButton style=" margin-left: 60px; width: 120px; background-color: black;color: white" label="Enregistrer" pRipple icon="pi pi-check" class="p-button-text" (click)="EditNote()"></button>

    </ng-template>

</p-dialog>

