<button pButton pRipple type="button" icon="pi pi-arrow-left" class="p-button-rounded p-button-secondary" (click)="gotEspaceEtudiant('espaces/etudiant')"></button>
<div class="p-grid">
    <div class="p-col-12">

        <p-toast></p-toast>

        <div class="card p-grid">
            <h2 class="p-col-12 p-text-center bold">Consultez votre Liste d'Absences</h2>

            <p-toolbar styleClass="p-mb-4 " class="p-col-12">
                <div class="p-field">
                    <label for="cne">CNE</label>
                    <input type="text" pInputText id="cne" [(ngModel)]="cne" required autofocus/>
                </div>
                <div class="p-col-2">
                    <p-dropdown [style]="{'width':'180px'}" [options]="years" [(ngModel)]="annee" optionLabel="libelle" optionValue="libelle" styleClass = "customClass" placeholder="Année universitaire"></p-dropdown>
                </div>


                <div class="p-col-2">
                    <p-dropdown [style]="{'width':'180px'}"  [options]="semestres" [(ngModel)]="semstre" optionLabel="label" optionValue="value" ></p-dropdown>
                </div>

                <p-button class="p-col-2" (click)="searchAbsence(annee,semstre,cne)">Valider</p-button>
            </p-toolbar>

            <p-table #dt [value]="absences" [rows]="4" [paginator]="true" [globalFilterFields]="['Etudiant','Note module session normale','Resultat']"
                     [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

                <ng-template pTemplate="header">
                    <tr>

                        <th pSortableColumn="note continue ">Module<p-sortIcon field="note continue "></p-sortIcon></th>
                        <th pSortableColumn="Note module session normale">libelle seance<p-sortIcon field="Note module session normale"></p-sortIcon></th>
                        <th pSortableColumn="note Finale avant Rat">Date d'absence <p-sortIcon field="note Finale avant Rat"></p-sortIcon></th>
                        <th pSortableColumn="Resultat">Heure de seance <p-sortIcon field="Resultat"></p-sortIcon></th>
                        <th pSortableColumn="Resultat">Justification <p-sortIcon field="Resultat"></p-sortIcon></th>
                        <th></th>
                        <th pSortableColumn="Action">Etat Absence <p-sortIcon field="Action"></p-sortIcon></th>
                        <!--<th pSortableColumn="totalPaye">Total Paye <p-sortIcon field="totalPaye"></p-sortIcon></th>-->
                        <th></th>

                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-absence>
                    <tr>
                        <td>{{absence.seance.moduleSemestreOption.myModule.libelle}}</td>
                        <td>{{absence.seance.libelle}}</td>
                        <td>{{absence.seance.dateSeance}}</td>
                        <td>{{absence.seance.heureDebut}}-{{absence.seance.heureFin}}</td>
                        <td>
                            <input type="file" (change)="onFileChanged($event)">
                            <input type="button" (click)="onUpload(absence)" value="upload">
                        </td>
                        <td></td>
                        <td>{{absence.etatJustification}}</td>
                    </tr>
                </ng-template>
            </p-table>

        </div>
        <app-note-etudiant-module-edit></app-note-etudiant-module-edit>
    </div>
</div>
