<div class="p-grid">
    <div class="p-col-12">
        <p-toast></p-toast>
        <div class="card p-grid">
            <h2 class="p-col-12 p-text-center bold">Inscription des Etudiants en Semestre 1:</h2>
            <p-toolbar class="p-col-12" styleClass="p-mb-4 ">

                <div class="p-col-2">
                    <p-dropdown (onChange)="change1()" [(ngModel)]="anneselect" [options]="years" [style]="{'width':'180px'}" placeholder="Année Univesitaire"  optionLabel="libelle" optionValue="anneeOne" ></p-dropdown>
                </div>

                <div class="p-col-2">
                    <p-dropdown [(ngModel)]="optSelec" [filter]="true" [options]="options"
                                [style]="{'width':'180px'}" optionLabel="label" optionValue="value"></p-dropdown>
                </div>

                <button pButton pRipple class="p-col-2" class="p-button-success p-mr-2 p-mb-2" (click)="SearchStudent()" label="chercher"></button>

            </p-toolbar>
           <div [ngClass]="{'vis':displayTable==false}">
            <p-toolbar class="p-col-12" >
                <ng-template pTemplate="left">
                    <button pButton pRipple label="Nouveau Etudiant" icon="pi pi-plus" class="p-button-success p-mr-2 p-mb-2" (click)="openCreate()"></button>
                </ng-template>
            </p-toolbar>

            <p-table #dt [value]="etudiantOptions" [columns]="cols"  [rows]="4" [paginator]="true" [globalFilterFields]="['CNE','Nom',' Prenom']"
                     [rowHover]="true" dataKey="id"
                     styleClass="p-datatable-customers"
                     currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" [showCurrentPageReport]="true">

                <ng-template pTemplate="header">
                    <tr>
                        <th pSortableColumn="CNE">CNE <p-sortIcon field="CNE"></p-sortIcon></th>
                        <th pSortableColumn="CNE">CIN <p-sortIcon field="CNE"></p-sortIcon></th>
                        <th pSortableColumn="NOM">NOM<p-sortIcon field="NOM"></p-sortIcon></th>
                        <th pSortableColumn="NOM">NOM<p-sortIcon field="NOM"></p-sortIcon></th>
                        <th pSortableColumn="DATEn">DATE<p-sortIcon field="DATEn"></p-sortIcon></th>
                        <th pSortableColumn="Action">Action<p-sortIcon field="Action"></p-sortIcon></th>
                    </tr>
                </ng-template>

                <ng-template pTemplate="body" let-etudiantOption>
                    <tr>
                        <td>{{etudiantOption.etudiant.cne}} </td>
                        <td>{{etudiantOption.etudiant.cin}} </td>
                        <td>{{etudiantOption.etudiant.nom}} </td>
                        <td> {{etudiantOption.etudiant.prenom}} </td>
                        <td> {{etudiantOption.etudiant.dateNaissance | json}} </td>
                        <td>
                            <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-success p-mr-2" (click)="editEtudiant(etudiantOption)"></button>
                            <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-warning" (click)="delete(etudiantOption)"></button>

                        </td>
                    </tr>
                </ng-template>

            </p-table>
           </div>
        </div>
        <app-inscription-nouveau-create></app-inscription-nouveau-create>
        <app-inscription-nouveau-edit></app-inscription-nouveau-edit>
    </div>
</div>