<p-dialog class="test" [(visible)]="editDialog" [style]="{width: '450px'}" header=" Edit du Module" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content" >
        <div class="p-field" style="margin-top: 100px">
            <label for="ref">Code Module</label>
            <input type="text" pInputText id="ref" [(ngModel)]="selected.code" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !selected.code">code is required.</small>
        </div>
        <div class="p-field" style="margin-bottom: 120px">
            <label for="total">Libelle Module</label>
            <input type="text" pInputText id="total" [(ngModel)]="selected.libelle" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !selected.libelle">libelle is required.</small>
        </div>

        <button style="margin-left: 30px;width: 94px; background-color: black;color: white" pButton pRipple label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideEditDialog()"></button>
        <button pButton pRipple style=" margin-left: 80px; width: 90px; background-color: black;color: white" label="Ok" icon="pi pi-check" class="p-button-text" (click)="edit()"></button>

        <!--<div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="totalPaye">Total Paye</label>
                <p-inputNumber id="totalPaye" [(ngModel)]="selected.totalPaye"></p-inputNumber>
            </div>
        </div>-->
    </ng-template>
</p-dialog>
