.button {
  padding: 100px 100px;
  margin-left: 70px;
  margin-right: 70px;
  margin-top: 90px;
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #AA8873;
  border: none;
  border-radius: 15px;
  box-shadow: 0 9px #815137;

}

.button:hover {background-color: #B85204}
.gg:hover{background-color: #B85204}
.button:active {
  background-color: #C9A26B;
  box-shadow: 0 5px #3D1C0B;
  transform: translateY(4px);
}
.gg{
  color:#AA8873;
}
