<p-dialog [(visible)]="createDialog" [style]="{width: '450px'}" header="Creation de filiére" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field" style="margin-top: 100px" >
            <label for="code">Code filiere</label>
            <input type="text" pInputText id="code" [(ngModel)]="filiere.code" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !filiere.code">code is required.</small>
        </div>
        <div class="p-field" style="margin-bottom: 120px">
            <label for="libelle">Libelle filiere</label>
            <input type="text" pInputText id="libelle" [(ngModel)]="filiere.libelle" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !filiere.libelle">libelle is required.</small>
        </div>

        <button pButton pRipple style="margin-left: 30px;width: 94px; background-color: black;color: white" label="Annuler" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
        <button pButton pRipple style=" margin-left: 60px; width: 120px; background-color: black;color: white" label="Enregistrer" icon="pi pi-check" class="p-button-text" (click)="save()"></button>

    </ng-template>

</p-dialog>