<p-dialog [(visible)]="createDialog" [style]="{width: '450px'}" header="Creation de module" [modal]="true" styleClass="p-fluid">
    <ng-template pTemplate="content">
        <div class="p-field">
            <label for="code">Code Module</label>
            <input type="text" pInputText id="code" [(ngModel)]="filiere.code" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !filiere.code">code is required.</small>
        </div>
        <div class="p-field">
            <label for="libelle">libelle Module</label>
            <input type="text" pInputText id="libelle" [(ngModel)]="filiere.libelle" required autofocus />
            <small class="p-invalid" *ngIf="submitted && !filiere.libelle">libelle is required.</small>
        </div>



        <!--<div class="p-formgrid p-grid">
            <div class="p-field p-col">
                <label for="totalPaye">Total Paye</label>
                <p-inputNumber id="totalPaye" [(ngModel)]="selected.totalPaye"></p-inputNumber>
            </div>
        </div>-->
    </ng-template>

    <ng-template pTemplate="footer">
        <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideCreateDialog()"></button>
        <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" (click)="save()"></button>
    </ng-template>
</p-dialog>

