#menu {
  margin: 0;
  width: 1350px;
  background-color: #565656;
  font-size: 12px;
  font-family: Tahoma, Geneva, sans-serif;
  font-weight: bold;
  text-align: left;
  padding: 2px;
  border-radius: 8px;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
}
.page{
  margin: 0px;
  /*background-image: url("green6.jpg");*/
  background-size: cover;
  background-attachment: fixed;
  font-family:new time roman;
  height: 800px;//100%
  width: 1900px;
  // background-image: url("../../../assets/OurImages/overlay.png"),url("../../../assets/OurImages/infer.jpg");
  background-image: url("../../../../assets/OurImages/overlay.png"),url("../../../../assets/OurImages/ftgh.jpg");
}

#menu ul {
  margin: 0;
  padding: 8px 0;
  list-style: none;
  height: auto;
}

#menu li {
  display: inline;
  padding: 10px;
}

#menu a {
  color: #FFF;
  padding: 10px;
  text-decoration: none;
  cursor:pointer;
}

#menu a:hover {
  background-color: #1B191B;
  color: #FFF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
}

#menu li .active {
  background-color: #1B191B;
  color: #FFF;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -o-border-radius: 20px;
}
h1{
  margin-left: 450px;
  margin-top: 50px;
  color: #fcb276;
  border-radius: 15px;

}
h3{
  color: #f7d8be;
  margin-bottom: 30px;
}
.parag ul{
  margin-left: 40px;
}
.parag{
  margin-top: 50px;
  margin-left: 350px;
}
.parag li{
  color: white;
  font-size:  22px;
  margin-top: 13px;
}