<div class="page">
<div id="menu">
    <ul>
        <li><a (click)="gotTo('')" href="#" class="active">Acceuil</a></li>
        <li><a (click)="gotTo('view/register')"  class="active">Comptes</a></li>
        <li><a (click)="gotTo('view/inscriptionNouveauEtudiant')" class="active">Inscription Nouveau Etudiant</a></li>
        <li><a (click)="gotTo('view/inscriptionAncienEtudiant')" class="active">Inscription Ancien Etudiant</a></li>
        <li><a (click)="gotTo('view/ModuleOrAffecation')" class="active">Filiére-Module-Option</a></li>
        <li><a (click)="gotTo('view/note-etudiant-semestre')" class="active">PV des étudiants</a></li>
        <li><a (click)="gotTo('view/releveAdmin')" class="active">Relevé de Notes</a></li>
        <li><a (click)="gotTo('view/ponderation')" class="active">Pondération</a></li>
    </ul>
</div>
    <h1>Bienvenue dans votre espace :</h1>
<div class="parag ">
    <h3>Dans cet espace vous pouvez :</h3>
    <ul>
        <li>Générer les PV des étudiants</li>
        <li>Obtenir les relevés de notes des étudiants</li>
        <li>Faire l'inscription des nouveaux étudiants ainsi que les anciens</li>
        <li>Ajouter /supprimer/modifier un module/une option ou bien une filière </li>
        <li>Affecter chaque module dans son option convenable ainsi d'ajouter sa liste des séances </li>
        <li>Insérer la pondération pour chaque option</li>
    </ul>
</div>
</div>