h2{
  padding: 20px;
  width: 100%;
  background-color: #f2f2f2;
  color: black;
}
.remarque{
  margin:25px;
  border-radius: 10px;
  border: solid ;
  padding:20px;
  background-color: #F8F9FA;
}
.card{
  margin: 0 50px;
  padding: 1px;
}
.upload-box{
  font-size: 11px;
  background: white;
  border-radius: 20px ;
  //box-shadow: 5px 5px 10px black;
  width: 200px ;
  outline: none;
  margin-right: 20px;

}

.envoye{
  background: #6ECDB2;
  border-radius: 20px ;
  //box-shadow: 5px 5px 10px black;
  width: 200px ;
  outline: none;
  border:none;
  margin-right: 20px;
  margin-top: 8px;
  height: 30px;
  }

::-webkit-file-upload-button{
  color: black;
  background: #82e5c7;
  padding: 10px;
  border: none;
  border-radius: 50px;
  //box-shadow: 0px 1px 1px #6b4559 ;
  outline: none;
}
